// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("blue-grey", "darken-2");

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

// // Individual components
@import "{}/imports/ui/layouts/header.scss";
@import "{}/imports/ui/layouts/main.scss";
