<template name="manageHoldings">
  <div class="exchange-overview-header">
    <h2 id="manage-holdings" class="exchange-title">Manage Holdings in {{volumeAsset}}</h2>
  </div>
  <div class="line-divider"></div>
  <div class="exchange-overview-block">
    <div class="form-horizontal mp-form">
      <!-- TODO: Reactivate this for 0.x with x > 1
      <div class="form-group">
        <label class="col-md-4 col-sm-6 col-xs-12 control-label" for="from_portofolio">Trade with</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div cclass="bootstrap-switch-id-switch-onText bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on">
            <input class="js-from-portfolio" type="checkbox" data-on-text="Portfolio" data-off-text="Account" {{ isFromPortfolio }}>
          </div>
        </div>
      </div>
      -->
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="volume">Asset Pair</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <!-- Static -->
          <select class="selectpicker select-form js-asset-pair-picker">
            {{#each assetPair in assetPairs}}
            <option value="{{assetPair}}" {{ selected assetPair }}>
              {{assetPair}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="type_buy">Type</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <select id="select_type" class="selectpicker select-form">
            {{#if isBuyingSelected }}
            <option value="0" selected>Buy</option>
            <!-- <option value="1">Sell</option> -->
            {{else}}
            <!-- <option value="0">Buy</option> -->
            <option value="1" selected>Sell</option>
            {{/if}}
          </select>
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">Order</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="price">Price</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="number" id="price" class="form-control js-price" placeholder="" value="{{preFillPrice}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{priceAssetPair}}</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="volume">Amount</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="number" id="volume" class="form-control js-volume" max="{{preFillVolumeMax}}" placeholder="" value="{{preFillVolume}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{volumeAsset}}</span>
      </div>
      <div class="line-divider"></div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="total">Total</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="text" id="total" class="form-control js-total" placeholder="" value="{{preFillTotal}}" max="{{preFillTotalMax}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{totalAsset}}</span>
      </div>
      <div class="form-group">
        <a href="#" class="btn btn-def btn-light-blue mt-20 js-placeorder">{{orderType}}</a>
      </div>
    </div>
  </div>
</template>
