<template name="manage_holdings">
  <div class="exchange-overview-header">
    <h2 id="manage-holdings" class="exchange-title">Manage Holdings in {{volumeAsset}}</h2>
    <span class="badge btn-sm-outline-blue">48%</span>
  </div>
  <div>
    <h6>Asset pair: {{currentAssetPair}}</h6>
  </div>
  <div class="exchange-overview-block">
    <div class="form-horizontal mp-form">
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="type_buy">Type</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <select id="select_type" class="selectpicker select-form">
            <option value="0" selected>Buy</option>
            <option value="1">Sell</option>
          </select>
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">Order</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="price">Price</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="text" id="price" class="form-control js-price" placeholder="" value="{{preFillPrice}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{priceAssetPair}}</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="volume">Volume</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="text" id="volume" class="form-control js-volume" placeholder="" value="{{preFillVolume}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{volumeAsset}}</span>
      </div>
      <div class="line-divider"></div>
      <div class="form-group">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label" for="total">Total</label>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <input type="text" id="total" class="form-control js-total" placeholder="" value="{{preFillTotal}}">
        </div>
        <span class="col-md-2 col-sm-3 col-xs-12">{{totalAsset}}</span>
      </div>
      <div class="form-group">
        <a href="#" class="btn btn-def btn-light-blue mt-20 js-placeorder">{{isBuyingSelected}}</a>
      </div>
    </div>
  </div>
</template>
