<template name="open_orders">

  <div class="row order-book-head">
    <div class="col-md-12">
      <h2 class="exchange-title">My Open Orders</h2>
    </div>
  </div>
  <div class="row order-book-table">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="table-open-orders" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-exchange-table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Time</th>
              <th>Type</th>
              <th>Buy Price <p>({{currentAssetPair}})</p></th>
              <th>Vol<p>({{baseTokenSymbol}})</p></th>
            </tr>
          </thead>
          <tbody>
            {{#each order in getOpenOrders}}
              <tr>
                <td>{{ formatDate order.createdAt }}</td>
                <td>{{ buyOrSell order.buy.symbol }}</td>
                <td>{{ getPrice order }}</td>
                <td>{{ getVolume order }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {{#if more}}
  <div class="row order-book-more">
    <div class="col-md-12">
      <div class="table-load-more">
        <a href="" class="btn btn-normal btn-outline-blue">Load More</a>
      </div>
    </div>
  </div>
  {{/if}}

</template>
