<template name="orderbook_contents">

    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <a href="https://testnet.etherscan.io/address/{{exchangeContractAddress}}" target="_blank">Order Book</a> of ETH/BTC
        </span>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12 m6">
                <table class="highlight centered responsive-table">
                  <thead>
                    <tr>
                      <th>Cum. Vol.</th>
                      <th>Vol.</th>
                      <th>Buy Price <br/> (ETH/BTC)</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#each offers}}
                    <tr>
                      <td>
                        <a href="http://testnet.etherscan.io/address/{{this.address}}" target="_blank">
                          {{this.name}}
                          ({{this.symbol}})
                        </a>
                      </td>
                      <td>{{this.priceFeed.price}}</td>
                      <td>{{this.priceFeed.price}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
              <div class="col s12 m6">
                <table class="highlight centered responsive-table">
                  <thead>
                    <tr>
                      <th>Sell Price <br/> (ETH/BTC)</th>
                      <th>Vol.</th>
                      <th>Cum. Vol.</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#each assets}}
                    <tr>
                      <td>
                        <a href="http://testnet.etherscan.io/address/{{this.address}}" target="_blank">
                          {{this.name}}
                          ({{this.symbol}})
                        </a>
                      </td>
                      <td>{{this.priceFeed.price}}</td>
                      <td>{{this.priceFeed.price}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
      </div>
    </div>

</template>
