<template name="recentTrades">

  <div class="row order-book-head">
    <div class="col-md-12">
      <h2 class="exchange-title">Recent Trades</h2>
    </div>
  </div>
  <div class="row order-book-table">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="table-recent-orders" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-exchange-table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Time</th>
              <th>Type</th>
              <th>Price <p>({{quoteTokenSymbol}}/{{baseTokenSymbol}})</p></th>
              <th>Amount<p>({{baseTokenSymbol}})</p></th>
            </tr>
          </thead>
          <tbody>
            {{#each trade in getRecentTrades}}
              <tr>
                <td>{{ formatDate trade.blockTimestamp }}</td>
                <td>{{ buyOrSell trade.buy.symbol }}</td>
                <td>{{ getPrice trade }}</td>
                <td>{{ getVolume trade }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {{#if more}}
  <div class="row order-book-more">
    <div class="col-md-12">
      <div class="table-load-more">
        <a href="" class="btn btn-normal btn-outline-blue">Load More</a>
      </div>
    </div>
  </div>
  {{/if}}

</template>
