<template name="manageParticipation">
  <div class="exchange-overview-header">
    <h2 class="exchange-title">
        Fund Investment
    </h2>
    <div class="line-divider"></div>
  </div>
  <div class="exchange-overview-block">
    <div class="form-horizontal mp-form">
      <div class="form-group">
        <label class="col-md-2 col-sm-2 col-xs-12 control-label" for="type_buy">Type</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <select id="type" class="selectpicker select-form">
              <option value="0">Invest</option>
              <option value="1">Redeem</option>
            </select>
        </div>
        <span class="col-md-2 col-sm-2 col-xs-12">Order</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-2 col-xs-12 control-label" for="price">Price</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input id="price" type="number" step="any" value="{{getSharePrice}}" class="validate form-control" placeholder="" readonly>
        </div>
        <span class="col-md-2 col-sm-2 col-xs-12">ETH/Share</span>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-sm-2 col-xs-12 control-label" for="volume">Amount</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input id="volume" type="number" step="any" class="form-control validate" placeholder="">
        </div>
        <span class="col-md-2 col-sm-2 col-xs-12">Shares</span>
      </div>
      <div class="line-divider"></div>
      <div class="form-group">
        <label class="col-md-2 col-sm-2 col-xs-12 control-label" for="total">Total</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input id="total" type="number" step="any" class="validate form-control" placeholder="">
        </div>
        <span class="col-md-2 col-sm-2 col-xs-12">ETH</span>
      </div>
      <div class="form-group">
        <a class="manage btn btn-def btn-light-blue mt-20">{{selectedTypeName}}</a>
      </div>
    </div>
  </div>
</template>
