<template name="portfolio_assets">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Asset list</span>
      <!-- <p>List of assets w relevant information</p> -->

      {{#if hasManagerCreatedPortfolio}}
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>{{i18n 'dapp.app.headers.name'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each assetList}}
              {{#if isManagerThisPortfolioManager managerAddress}}
                <tr>
                  <td>
                    <!-- <a href="/" class="waves-effect waves-light btn blue lighten-2">{{name}}</a> -->
                    hello
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}

    </div>
  </div>
</template>
