<template name="portfolio_assets">

  {{#if hasManagerCreatedCore}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          Contents of Registar Module
        </span>

        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Asset</th>
              <th>Symbol</th>
              <th>Precision</th>
              <th>Linked Price Feed</th>
              <th>Price Precision</th>
              <th>Linked Exchange</th>
            </tr>
          </thead>
          <tbody>
            <!-- TODO wrong metric -->
          {{#each getRegistrarOfThisPortfolioManager}}
            <tr>
              <td>
                <a href="http://testnet.etherscan.io/address/{{assets.address}}" target="_blank">
                  {{assets.name}}
                </a>
              </td>
              <td>{{assets.symbol}}</td>
              <td>{{assets.precision}}</td>
              <td>
                <a href="http://testnet.etherscan.io/address/{{priceFeeds.address}}" target="_blank">
                  {{> dapp_identicon identity=priceFeeds.address class="dapp-small"}}
                </a>
              </td>
              <td>{{priceFeeds.precision}}</td>
              <td>
                <a href="http://testnet.etherscan.io/address/{{exchanges.address}}" target="_blank">
                  {{> dapp_identicon identity=exchanges.address class="dapp-small"}}
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

</template>
