<template name="portfolio_assets">
  {{#if hasManagerCreatedPortfolio}}
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          <th>{{i18n 'dapp.app.headers.asset'}}</th>
          <th>{{i18n 'dapp.app.headers.symbol'}}</th>
          <th>{{i18n 'dapp.app.headers.precision'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each getRegistrars}}
            <tr>
              <td>
                <a href="/" class="waves-effect waves-light btn blue lighten-2">{{name}}</a>
              </td>
              <td>{{symbol}}</td>
              <td>{{precision}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>
