<template name="portal_list">
  <section class="mp-portal">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="table-responsive">
            {{#if getCoreCount}}
              <table id="table-portal-overview" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-portal-table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Manager <p>(Identicon)</p></th>
                    <th>Portfolio <p>(Name)</p></th>
                    <th>AUM <p>(EUR)</p></th>
                    <th>Share Price <p>(Finney)</p></th>
                    <th>Change 24h <p>(%)</p></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each searchedCores}}
                    <tr>
                      <td class="identicon">
                        <a class="table-link" href="https://kovan.etherscan.io/address/{{managerAddress}}" target="_blank">
                          {{> dapp_identicon identity=managerAddress class="dapp-small"}}
                        </a>
                      </td>
                      <td class="portfolio">
                        <a href="/portfolio/{{address}}" class="btn btn-small btn-outline-blue">{{name}}</a>
                      </td>
                      <td>
                        <a class="table-link" href="https://kovan.etherscan.io/address/{{address}}" target="_blank">
                          {{dapp_formatBalance notional "0,0.0[00]" 'eur'}}
                        </a>
                      </td>
                      <td>
                        <a class="table-link" href="https://kovan.etherscan.io/address/{{address}}" target="_blank">
                          {{dapp_formatBalance sharePrice "0,0.0[00]" "finney"}}
                        </a>
                      </td>
                      <td>{{intraday}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
