<template name="portalList">
  <section class="mp-portal">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="table-responsive">
            {{#if getVaultCount}}
            <table id="table-portal-overview" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-portal-table">
              <thead>
                <td>
                  <table id="table-portal-overview" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-portal-table"
                    style="width:100%;">
                    <tr>
                      <th style="width:25%">Manager
                        <p>(Identicon)</p>
                      </th>
                      <th style="width:40%">Portfolio
                        <p>(Name)</p>
                      </th>
                      <th style="width:18%">AUM
                        <p>({{refCurrency}})</p>
                      </th>
                      <th style="width:25%">Share Price
                        <p>(Finney)</p>
                      </th>
                    </tr>
                  </table>
                </td>
              </thead>
              <tr>
                <td>
                  <div style="width:100%; height:400px; overflow:auto;">
                    <table id="table-portal-overview" class="table table-bordered table-hover mp-daemon-table mp-daemon-table-data mp-portal-table"
                      style="width:100%">
                      <tbody>
                        {{#each searchedVaults}}
                        <tr>
                          <td class="identicon">
                            <a class="table-link" href="https://kovan.etherscan.io/address/{{owner}}" target="_blank" rel="noopener">
                                {{> dapp_identicon identity=owner class="dapp-small"}}
                              </a>
                          </td>
                          <td class="portfolio">
                            <a href="{{getVaultLink address}}" class="btn btn-small btn-outline-blue" style="max-width: 20em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{name}}</a>
                          </td>
                          <td>
                            <a class="table-link" href="https://kovan.etherscan.io/address/{{address}}" target="_blank" rel="noopener">
                                {{dapp_formatBalance nav "0,0.0000"}}
                              </a>
                          </td>
                          <td>
                            <a class="table-link" href="https://kovan.etherscan.io/address/{{address}}" target="_blank" rel="noopener">
                                {{dapp_formatBalance sharePrice "0,0.0000" "finney"}}
                              </a>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
