<template name="portal_list">

  {{#if getCoreCount}}
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          <th>Identicon</th>
          <th>Manager</th>
          <th>Portfolio</th>
          <th>AUM</th>
          <th>Share Price</th>
          <th>% Change (24h)</th>
        </tr>
      </thead>
      <tbody>
        {{#each getCoreContracts}}
          <tr>
            <td>
              <a href="http://testnet.etherscan.io/address/{{address}}" target="_blank">
                {{> dapp_identicon identity=address class="dapp-small"}}
              </a>
            </td>
            <td>
              <a href="http://testnet.etherscan.io/address/{{managerAddress}}" target="_blank">{{managerName}}
              </a>
            </td>
            <td>
              <a href="/portfolio/{{address}}" class="waves-effect waves-light btn blue lighten-2"><strong>{{name}}</strong></a>
            </td>
            <td>
              <a href="http://testnet.etherscan.io/address/{{address}}" target="_blank">
                {{dapp_formatBalance sharePrice "0,0.0[00] unit" "finney"}}/share
              </a>
            </td>
            <td>
              <a href="http://testnet.etherscan.io/address/{{address}}" target="_blank">
                {{dapp_formatBalance notional "0,0.0[00] UNIT" 'eur'}}
              </a>
            </td>
            <td>{{intraday}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

</template>
