<template name="portal_new">
  {{#if isInactiveNetworkStatus}}


    {{#if showModal}}
    {{> disclaimerModal}}

    {{/if}}


    <section class="mp-portal setup-portfolio">
      <!-- term&condition -->
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 setup-portfolio-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="setup-header">
                  <h4>{{i18n 'dapp.components.create.header'}}</h4>
                  <p>{{i18n 'dapp.components.create.description'}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="line-divider"></div>
              <form class="col s12 new-portfolio" id="new_portfolio">
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-form">
                      <form class="mp-form">
                        <div class="form-group">
                          <input id="portfolio_name" type="text" class="form-control validate" minlength="3" placeholder="Your Portfolio Name (Visible to others)" required>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="line-divider"></div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Asset Class Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://kovan.etherscan.io/address/{{etherTokenContractAddress}}" target="_blank" class="">Ether Token (ETH-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{melonTokenContractAddress}}" target="_blank" class="">Melon Token (MLN-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{bitcoinTokenContractAddress}}" target="_blank" class="">Bitcoin Token (BTC-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{euroTokenContractAddress}}" target="_blank" class="">Euro Token (EUR-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{repTokenContractAddress}}" target="_blank" class="">Rep Token (Rep)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Exchange Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://daemon.melonport.com/liquidityprovider" target="_blank" class="">Melon Exchange</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Price Feed Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://daemon.melonport.com/oracle" target="_blank" class="">Price Feed (By Oraclize <img src="dist/img/oraclize.png" class="oraclize">)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Universe Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://kovan.etherscan.io/address/{{universeContractAddress}}" target="_blank" class="">Melon Universe</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="line-divider"></div>
                <div class="row">
                  <div class="col-md-12 btn-portfolio text-left">
                    <button type="submit" class="btn btn-light-blue">{{i18n 'dapp.components.create.deploy'}}</button>
                  </div>
                </div>
                <div class="clear"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{else}}

  {{/if}}
</template>

<!-- <template name="disclaimerModal">
    <script src="/path/to/bootstrap/js/bootstrap.min.js"></script>
    <div class="modal fade show" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="disclaimerModalLabel">Remove?</h4>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="delete" class="btn btn-primary">Remove</button>
          </div>
        </div>
      </div>
    </div>
</template>
 -->

 <template name="disclaimerModal">
    <!-- Modal -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="modal fade in show" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="color: red;">DISCLAIMER</h4>
          </div>
          <div class="modal-body">
            <p>*** All collected data will be deleted. ***</p>

            <p>THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" id="okDisclaimer" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
</template>
