<template name="portalNew">
  {{#if isInactiveNetworkStatus}}


    {{#if showModal}}
      {{> disclaimerModal}}
    {{/if}}


    <section class="mp-portal setup-portfolio">
      <!-- term&condition -->
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 setup-portfolio-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="setup-header">
                  <h4>{{i18n 'dapp.components.create.header'}}</h4>
                  <p>{{i18n 'dapp.components.create.description'}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="line-divider"></div>
              <form class="col s12 new-portfolio" id="new_portfolio">
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-form">
                      <form class="mp-form">
                        <div class="form-group">
                          <input id="portfolio_name" type="text" class="form-control validate" minlength="3" placeholder="Your Portfolio Name (Visible to others)" required>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="line-divider"></div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Asset Class Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://kovan.etherscan.io/address/{{etherToken}}" target="_blank">Ether Token (ETH-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{melonToken}}" target="_blank">Melon Token (MLN-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{bitcoinToken}}" target="_blank">Bitcoin Token (BTC-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{euroToken}}" target="_blank">Euro Token (EUR-T)</a></li>
                        <li><a href="https://kovan.etherscan.io/address/{{repToken}}" target="_blank">Rep Token (Rep)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Exchange Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://daemon.melonport.com/liquidityprovider" target="_blank">Melon Exchange</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Price Feed Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://daemon.melonport.com/oracle" target="_blank">Price Feed</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="setup-module">
                      <p>Universe Module:</p>
                      <ul class="setup-module-list">
                        <li><a href="https://kovan.etherscan.io/address/{{universe}}" target="_blank">Melon Universe</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="line-divider"></div>
                <div class="row">
                  <div class="col-md-12 btn-portfolio text-left">
                    <button type="submit" class="btn btn-light-blue">{{i18n 'dapp.components.create.deploy'}}</button>
                  </div>
                </div>
                <div class="clear"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{else}}

  {{/if}}
</template>


<!-- Modal Template-->
<template name="disclaimerModal">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="modal fade in show" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel" style="color: red; text-align: center;">DISCLAIMER</h4>
        </div>
        <div class="modal-body">
          <p style="font-weight: bold;">Please note that this is a beta version of the Melon portal with purpose intended for testing a software only. DO NOT USE REAL ETHER OR VALUE TOKEN. All data collected will be deleted from our database regularly. </p>
          <p style="font-weight: bold;">The User understands and accepts that in the event of announcing any Melon related competitions, the winners and prizes will be determined at full discretion by Melonport AG and Melonport AG alone.</p>
          <p style="font-weight: bold;">The user understands and accepts that this software is provided “as is” and any expressed or implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the regrets or contributors be liable of any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption). However caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
          <p style="font-weight: bold;">Any applicable law is Swiss law.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">I disagree</button>
          <button type="button" id="okDisclaimer" class="btn btn-primary">I agree</button>
        </div>
      </div>
    </div>
  </div>
</template>
