.mp-portal-hero{
	height: 400px;
	.hero-text{
		padding-top: 120px;
		h1{
		}
		form{
			padding: 0 $spacing-lg * 2;
		}
		.input-newsletter{

		}
	}
	.hero-summary{
		padding-top: 120px;
		.hero-network-summary{
			margin-bottom: $spacing-lg - 20;
			span{
				border-bottom: 2px solid rgba(255, 255, 255, 0.11);
				color: $white;
				font-size: $font-size-normal;
				font-weight: $font-weight-medium;
				text-transform: uppercase;
				padding-left: 0;
				padding-bottom: $spacing-sm + 5;
				margin-bottom: $spacing-sm + 5;
				display: table;
			}
			ul{
				li{
					margin-bottom: $spacing-sm;
					p{
						margin-bottom: 0;
						font-size: $font-size-small;
						font-weight: $font-weight-regular;
						&.status{
							color: #ebebeb;
						}
						&.value{
							color: $light-blue;
						}
					}
				}
			}
		}
	}
}
.mp-portal{
	padding: $spacing-lg;
	&.setup-portfolio{
		.setup-portfolio-wrapper{
			border: 1px solid #e6e6e6;
			padding: 30px;
			.setup-header{
				h4{
					margin: 0;
					font-weight: $font-weight-regular;
					font-size: $font-size-medium + 2;
					color: #4e4e4e;
					margin-bottom: 5px;
				}
				p{
					color: #868686;
					font-size: $font-size-normal;
					font-weight: $font-weight-regular;
					margin-bottom: $spacing-md + $spacing-sm;
				}
			}
			.setup-form{
				padding: 20px 0 5px;
			}
			.line-divider{
				border-bottom: 1px solid #e6e6e6;
				margin: 10px 0;
			}
			.setup-module{
				border: 1px solid #e6e6e6;
				padding: $spacing-md;
				margin: 20px 0;
				p{
					color: #868686;
					font-weight: $font-weight-regular;
					font-size: $font-size-normal - 1;
				}
				ul{
					li{
						margin-bottom: $spacing-sm;
						&:before{
							content: "-";
							margin-right: $spacing-sm;
							color: $light-blue;
						}
						a{
							color: $light-blue;
							font-size: $font-size-normal - 1;
							font-weight: $font-weight-medium;
						}
					}
				}
			}
			.btn-portfolio{
				text-align: right;
				margin-top: $spacing-md;
			}
		}
	}
	.mp-portal-table{
		margin-bottom: 0 !important;
		thead{
			tr{
				background: #f6f6f6;
				th{
					&::after{
						vertical-align: middle;
						top: 30px;
						right: 30px;
					}
				}
			}
		}
		tbody{
			tr{
				td{
					color: $light-blue;
					font-weight: $font-weight-medium;
					font-size: $font-size-small + 1;
					vertical-align: middle;
					&.identicon{
						img{
							height: 35px;
							height: 35px;
							object-fit: cover;
							object-position: 50% 50%;
						}
					}
					&.portfolio{
						a{
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
	.table-load-more{
		text-align: center;
		padding: 30px $spacing-lg;
		border: 1px solid #dddddd;
		margin-top: -2px;
	}
}