<template name="layoutFooter">
  <!-- footer section -->
  <div class="mp-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 footer-logo">
          <img src="../dist/img/logo.png">
          <p>Copyright © 2016-2017. All Right Reserved</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 footer-link">
          <ul>
            <li><a href="https://daemon.melonport.com/" target="_blank" rel="noopener">Daemon</a></li>
            <li><a href="/">Portal</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer-icon">
          <a href="https://github.com/melonproject/portal/issues/new" target="_blank" class="btn btn-big btn-outline-white" rel="noopener">Feedback</a>
        </div>
      </div>
    </div>
  </div>
</template>
