<template name="layout_footer">
  <!-- TODO gradually uncomment again -->
  <!-- <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        Copyright © Melonport AG 2017. All Rights Reserved.
        <a class="white-text text-lighten-4 right" href="mailto:team@melonport.com?subject=Feedback Melonport&body=Hi Melonport please improve: " target="_top">Send us feedback.</a>
      </div>
    </div>
  </footer> -->

  <!-- footer section -->
  <footer class="mp-footer mp-footer-portal">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 footer-logo">
          <img src="../dist/img/logo.png">
          <p>Copyright  © 2016. All Right Reserved</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 footer-link">
          <ul>
            <li><a href="#">Daemon</a></li>
            <li><a href="#">Portal</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 footer-icon">
          <a href="#" class="btn btn-big btn-outline-white">Send Feedback</a>
        </div>
      </div>
    </div>
  </footer>

</template>
