<template name="layout_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo hide-on-med-and-down"><img height="64" id="logo" src="melonwebsite.svg"/></a>
        <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          {{#if isClientConnected}}
            {{#if clientDefaultAccount}}
              {{#if isRopstenNetwork}}
                {{#if getPortfolioCountOfDefaultAccount}}
                  <li><a href="/portfolio" class="portfolio">Portfolio{{#if isNewPortfolio}}<span class="new badge"></span>{{/if}}</a></li>
                {{/if}}
                <li><a href="/wallet">Wallet</a></li>
              {{/if}}
            {{/if}}
          {{/if}}
        </ul>

        <ul class="right hide-on-med-and-down">
        </ul>
        <ul class="side-nav blue-grey darken-2" id="nav-mobile">
          <li><a class="brand-logo center"><img height="64" id="logo" src="melonwebsite.svg"/></a></li>
          <li><a class="waves-effect waves-indigo white-text" href="/"></a></li>
          <li><a class="waves-effect waves-indigo white-text" href="http://chat.melonport.com" target="_blank">Chat</a></li>
          {{#if isClientConnected}}
            {{#if clientDefaultAccount}}
              {{#if isRopstenNetwork}}
                {{#if getPortfolioCountOfDefaultAccount}}
                  <li><a class="waves-effect waves-indigo white-text" href="/portfolio">Portfolio{{#if isNewPortfolio}}<span class="new badge"></span>{{/if}}</a></li>
                {{/if}}
                <li><a class="waves-effect waves-indigo white-text" href="/wallet">Wallet</a></li>
              {{/if}}
            {{/if}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
