<template name="blotter_transaction_list">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{#if transactionCount}}
          {{i18n 'dapp.components.transaction.header'}}
        {{else}}
          Transaction list
        {{/if}}
      </span>

      {{#if transactionCount}}
        <p>{{i18n 'dapp.components.transaction.description'}}</p>
      {{else}}
        <p>This portfolio has no known transactions.</p>
      {{/if}}

      {{#if transactionCount}}
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>{{i18n 'dapp.app.headers.identicon'}}</th>
              <th>{{i18n 'dapp.app.headers.transactionName'}}</th>
              <th>{{i18n 'dapp.app.headers.transactionPx'}}</th>
              <th>{{i18n 'dapp.app.headers.investment'}}</th>
              <th>{{i18n 'dapp.app.headers.intraday'}}</th>
              <th>{{i18n 'dapp.app.headers.intramonth'}}</th>
              <th>{{i18n 'dapp.app.headers.intrayear'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each transactions}}
              {{#if isOwner}}
                <tr>
                  <td>
                    <a href="http://testnet.etherscan.io/address/{{transactionAddress}}" target="_blank">
                      {{> dapp_identicon identity=transactionAddress class="dapp-small"}}
                    </a>
                  </td>
                  <td>
                    <a href="/transactions/{{_id}}"><strong>{{transactionName}}</strong></a>
                  </td>
                  <td>1.0</td>
                  <td>
                    <a href="http://testnet.etherscan.io/address/{{transactionAddress}}" target="_blank">
                      {{displayBalance notional}}
                    </a>
                  </td>
                  <td>{{intraday}}</td>
                  <td>{{mtd}}</td>
                  <td>{{ytd}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </div>
</template>
