<template name="manage_settings">
  <div class="asset-overview-wrapper">
    <div class="exchange-overview-header">
      <h2 class="exchange-title">Account Settings</h2>
      <div class="line-divider"></div>
    </div>
    <div class="exchange-overview-block">
      <div class="form-horizontal mp-form">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="type_buy">Reference</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="referencecurrency" class="select-form">
              {{#each currencies}}
              <option value="{{this.option}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
          <span class="col-md-3 col-sm-3 col-xs-12">Currency</span>
        </div>
      </div>
    </div>
  </div>
</template>
