<template name="manage_settings">
    <div class="asset-overview-wrapper">
      <div class="exchange-overview-header">
        <h2 class="exchange-title">Manage Settings</h2>
      </div>
      <div class="exchange-overview-block">
        <div class="form-horizontal mp-form">
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="type_buy">Reference</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="select-form">
                <option>EUR</option>
                <option>GBR</option>
              </select>
            </div>
            <span class="col-md-3 col-sm-3 col-xs-12">Currency</span>
          </div>
          <div class="line-divider"></div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label" for="type_buy">Manage</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="selectpicker select-form">
                <option>{{getManagerNameOfCore}}</option>
              </select>
            </div>
            <span class="col-md-3 col-sm-3 col-xs-12">Participation</span>
          </div>
          <div class="form-group">
            <a class="manage btn btn-def btn-light-blue mt-20">Manage</a>
            <a class="remove btn btn-def btn-light-red mt-20">Remove</a>
          </div>
        </div>
      </div>
    </div>

    <!-- JUST IN CASE -->
    <!-- <div class="card">
      <div class="card-content">
        <span class="card-title">
          Manage Settings
        </span>
        <ul>
          <li> Reference: <b> EUR </b> Currency </li>
          <br/>
          <hr/>
          <br/>
          <li> Manage: <b> <a href="/portfolio/{{getManagerAddressOfCore}}">{{getManagerNameOfCore}}</a> </b> Participation </li>
        </ul>
      </div>
      <div class="card-action">
        <a href="/portfolio/{{getManagerAddressOfCore}}" class="delete waves-effect waves-light btn blue lighten-2">Manage</a>
      </div>
    </div> -->

</template>
