<template name="wallet_manage">
  <div class="card grey lighten-4">
    <div class="card-content">
      <div class="row">
        <!-- New wallet -->
        <form class="col s12 new-wallet">
          <div class="row">
            <div class="input-field col s12">
              <input id="input_text" name="userEntropy" type="text" class="validate">
              <label for="input_text">Type random text to generate entropy of your new wallet</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Create Wallet</button>
        </form>
      </div>
    </div>
  </div>
</template>
