<template name="wallet_overview">

      <div class="card">
        <div class="card-content">
          <span class="card-title">
            Wallet Overview
          </span>
          <ul>
            <li> Identicon:
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{> dapp_identicon identity=clientMangerAccount class="dapp-small"}}
              </a>
            </li>
            <li> Address:
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{clientMangerAccount}}
              </a>
            </li>
            <li> Wallet Balance:
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{dapp_formatBalance clientMangerAccountBalance "0,0.0[00] UNIT" 'eur'}}
              </a>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <a class="fund_wallet waves-effect waves-light btn green lighten-2"><i class="material-icons">thumb_up</i></a>
          <a class="refresh-wallets waves-effect waves-light btn blue lighten-2"><i class="material-icons">replay</i></a>
        </div>
      </div>

</template>
