<template name="wallet_list">

    <!-- Wallets have been created -->
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          <th>{{i18n 'dapp.app.headers.identicon'}}</th>
          <th>Address</th>
          <th>{{i18n 'dapp.app.headers.balance'}}</th>
          <th>{{i18n 'dapp.app.headers.performance'}}</th>
          <th>Fund</th>
          <th>Refresh</th>
        </tr>
      </thead>
      <tbody>
        {{#each wallets}}
          <tr>
            <td>
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{> dapp_identicon identity=clientMangerAccount class="dapp-small"}}
              </a>
            </td>
            <td>
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{clientMangerAccount}}
              </a>
            </td>
            <td>
              <a href="http://testnet.etherscan.io/address/{{clientMangerAccount}}" target="_blank">
                {{displayBalance clientMangerAccountBalance}}
              </a>
            </td>
            <td>N/A</td>
            <!-- Fund -->
            <td>
              <a class="fund_wallet waves-effect waves-light btn green lighten-2"><i class="material-icons">thumb_up</i></a>
            </td>
            <td>
              <a class="refresh-wallets waves-effect waves-light btn blue lighten-2"><i class="material-icons">replay</i></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

</template>
