<template name="ux_index_portal">
  <section class="mp-hero mp-portal-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12 text-center hero-text">
          <h1>The future of finance with Melon</h1>
          <form>
            <div class="input-group input-newsletter">
              <input type="text" value="" class="form-control" placeholder="Search for Managers and Portfolios" required>
              <span class="input-group-link">
                <button type="submit" value="Subscribe" name="subscribe" class="button"><i class="ion-ios-search-strong"></i></button>
              </span>
            </div>
          </form>
        </div>
        {{> ux_index_summaries}}
			</div>
		</div>
	</section>
</template>

<template name="ux_index_graph">
  <section class="mp-hero mp-portal-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12 text-center hero-text">
          {{#if isClientConnected}}
            {{#if clientManagerAccount}}
              {{#if isKovanNetwork}}
                {{#if hasManagerCreatedCore}}
                  <div class="hero-charts">
                    <div id="charts"></div>
                  </div>
                {{else}} <!-- hasManagerCreatedCore -->
                  <h1>You are good to go!</h1>
                  <p>Explore the future of finance with Melon</p>
                {{/if}}
              {{else}} <!-- isKovanNetwork -->
                <h1>Great you're connected!</h1>
                <p>Now switch to the <a class="blue-text text-lighten-2">Ethereum testnet</a> to use this application</p>
              {{/if}}
	          {{else}} <!-- clientManagerAccount -->
              <h1>Great you're connected!</h1>
              <p>Now select an <a class="blue-text text-lighten-2">Ethereum account</a> to use this application</p>
             {{/if}}
          {{else}} <!-- isClientConnected -->
            <p>Start by installing <a class="white-text" href="https://metamask.io/" target="_blank"><b>MetaMask</b></a> or <a class="white-text" href="https://github.com/ethereum/mist/releases/tag/v0.8.8" target="_blank"><b>Mist</b></a></p>
          {{/if}}
        </div>
        {{> ux_index_summaries}}
			</div>
		</div>
	</section>
</template>

<template name="ux_index_summaries">
  {{#if isClientConnected}}
    <div class="col-md-5 col-sm-5 col-xs-12 hero-summary">
      <div class="row">
        <div class="hero-network-summary col-md-6 col-sm-6 col-xs-6">
          {{> summary_melon}}
        </div>
        <div class="hero-network-summary col-md-6 col-sm-6 col-xs-6">
          {{> summary_executive}}
        </div>
      </div>
    </div>
  {{else}} <!-- isClientConnected -->
    <div class="col-md-5 col-sm-5 col-xs-12 hero-summary">
      <div class="row">
        <div class="hero-network-summary col-md-6 col-sm-6 col-xs-6">
          <span class="text-light">Compatible with</span>
          <li><a class="white-text" href="https://parity.io/" target="_blank"><b>Parity</b></a></li>
          <li><a class="white-text" href="https://metamask.io/" target="_blank"><b>MetaMask</b></a></li>
          <li><a class="white-text" href="https://github.com/ethereum/mist/releases/tag/v0.8.8" target="_blank"><b>Mist</b></a></li>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="ux_server_connection">
  <!-- Not connected to the node -->
  <div class="container">
    <div class="row">
      <div id="results" class="col-md-12 text-center error-message">
        <img src="/dist/img/ethereum_node_down.png">
        <h2 class="about-title">Ethereum node down</h2>
        <p>Unfortunately the server-side Ethereum node seems to be down.</p>
        <p><a href="mailto:team@melonport.com?subject=Server Side Ethereum Node Down on Portal app" target="_top">Please contact us</a>. Thanks.</p>
      </div>
    </div>
  </div>
</template>

<!-- No Account Selected -->
<template name="ux_no_account_selected">
  <div class="container">
    <div class="row">
      <div id="results" class="col-md-12 text-center error-message">
        <img src="/dist/img/no_account_selected.png">
        <h2 class="about-title">No account selected</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="btn btn-def btn-light-blue">Select an account</a>
      </div>
    </div>
  </div>
</template>

<!-- Insufficient Funds -->
<template name="ux_insufficient_funds">
  <div class="container">
    <div class="row">
      <div id="results" class="col-md-12 text-center error-message">
        <img src="/dist/img/insufficient_funds.png">
        <h2 class="about-title">Insufficient funds</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#" class="btn btn-def btn-light-blue">Add Funds</a>
      </div>
    </div>
  </div>
</template>

<!-- Ethereum Testnet -->
<template name="ux_ethereum_testnet">
  <div class="container">
    <div class="row">
      <div id="results" class="col-md-12 text-center error-message">
        <img src="/dist/img/switch_network.png">
        <h2 class="about-title">Ethereum Testnet</h2>
        <p>Well done you're connected. Now switch to the Kovan network to use this application</p>
        <a href="#" class="btn btn-def btn-light-blue">Switch Now</a>
      </div>
    </div>
  </div>
</template>
