<template name="executive_summary">
  <div class="buysellads-header center-on-small-only">
    <!-- Executive Summary -->
    <ul>
      <li class="truncate text-light">Executive Summary</li>
      <!-- Wallet Balance -->
      <li> Wallet Balance:
        {{#if accountCount}}
          <a href="https://testnet.etherscan.io/address/{{clientDefaultAccount}}" class="truncate green-text text-lighten-2" target="_blank">
            {{dapp_formatBalance clientDefaultAccountBalance "0,0.0[00] unit" 'eur'}}
          </a>
        {{else}}
          <a class="truncate blue-text text-lighten-2">No account available</a>
        {{/if}}
      </li>

      <!-- Portfolio Status -->
      <li> Portfolio:
        {{#if portfolioCount}}
          <a href="/portfolio/{{selectedPortfolioId}}" class="truncate green-text text-lighten-2">{{selectedPortfolioName}}</a>
        {{else}}
          {{#if accountCount}}
            <a href="/portfolio/" class="truncate blue-text text-lighten-2">Create portfolio</a>
          {{else}}
            <a href="/portfolio/" class="truncate red-text text-lighten-2">N/A</a>
          {{/if}}
        {{/if}}
      </li>

      <!-- Overall Performance -->
      <li> Delta:
        {{#if isClientConnected}}
          {{#if portfolioCount}}
            <a href="/portfolio/" class="truncate green-text text-lighten-2">{{selectedPortfolioDelta}}</a>
          {{else}}
            <a href="/portfolio/" class="truncate red-text text-lighten-2">N/A</a>
          {{/if}}
        {{else}}
          <a href="/sign-in/" class="truncate blue-text text-lighten-2">Not logged in</a>
        {{/if}}

      </li>
    </ul>
  </div>
</template>
