<template name="executive_summary">
  <div class="buysellads-header center-on-small-only">
    <!-- Executive Summary -->
    <ul>
      <li class="truncate text-light">Executive Summary</li>
      <!-- Wallet Balance -->
      <li> Wallet Balance:
        {{#if getAccountCount}}
          {{#if clientDefaultAccount}}
            <a href="/wallet" class="truncate green-text text-lighten-2">
              {{dapp_formatBalance clientDefaultAccountBalance "0,0.0[00] UNIT" 'eur'}}
            </a>
          {{else}}
            <a class="truncate red-text text-lighten-2">No account selected</a>
          {{/if}}
        {{else}}
          <a class="truncate red-text text-lighten-2">No account available</a>
        {{/if}}
      </li>

      <!-- Portfolio Status -->
      <li> Portfolio:
        {{#if getPortfolioCountOfDefaultAccount}}
          <a href="/portfolio/{{selectedPortfolioId}}" class="truncate green-text text-lighten-2">{{getPortfolioNameOfDefaultAccount}}</a>
        {{else}}
          {{#if getAccountCount}}
            <a href="/" class="truncate blue-text text-lighten-2 new badge">Create portfolio</a>

          {{else}}
            <a href="/" class="truncate red-text text-lighten-2">N/A</a>
          {{/if}}
        {{/if}}
      </li>

      <!-- Overall Performance -->
      <li> Delta:
        {{#if getPortfolioCountOfDefaultAccount}}
            <a href="/portfolio/{{selectedPortfolioId}}" class="truncate green-text text-lighten-2">{{getPortfolioDeltaOfDefaultAccount}}</a>
        {{else}}
          <a href="/" class="truncate blue-text text-lighten-2">Create portfolio</a>
        {{/if}}
      </li>
    </ul>
  </div>
</template>
