<template name="summary_executive">
  <div class="buysellads-header center-on-small-only">
    <!-- Executive Summary -->
    <ul>
      <li class="truncate text-light">Executive Summary</li>
      <!-- Wallet Balance -->
      <li> Wallet Balance
        {{#if getAccountCount}}
          {{#if clientManagerAccount}}
            <a href="/wallet/{{clientManagerAccount}}" class="truncate green-text text-lighten-2">
              {{dapp_formatBalance clientManagerAccountBalance "0,0.0[00] UNIT" 'eur'}}
            </a>
          {{else}}
            <a class="truncate red-text text-lighten-2">No account selected</a>
          {{/if}}
        {{else}}
          <a class="truncate red-text text-lighten-2">No account available</a>
        {{/if}}
      </li>

      <!-- Portfolio Status -->
      <li> Portfolio
        {{#if hasManagerCreatedCore}}
          <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerNameOfCore}}</a>
        {{else}}
          {{#if getAccountCount}}
            <a href="/" class="truncate blue-text text-lighten-2 new badge">Create portfolio</a>

          {{else}}
            <a href="/" class="truncate red-text text-lighten-2">N/A</a>
          {{/if}}
        {{/if}}
      </li>

      <!-- Overall Performance -->
      <li> Delta
        {{#if hasManagerCreatedCore}}
            <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerDeltaOfCore}}</a>
        {{else}}
          <a href="/" class="truncate blue-text text-lighten-2">Create portfolio</a>
        {{/if}}
      </li>
    </ul>
  </div>
</template>
