<template name="summary_melon">
  <span>Melon Summary</span>
  <ul>
    <li>
      <p class="status">Status:</p>
      {{#if isErrorNetworkStatus}}
          <p class="value">TX Error</p>
      {{/if}}

      {{#if isMiningNetworkStatus}}
          <p class="value">Sending</p>
      {{/if}}

      {{#if isMinedNetworkStatus}}
          <p class="value">Sent</p>
      {{/if}}

      {{#if isInactiveNetworkStatus}}
        {{#if isMainNetwork}}
          <p class="value">{{getNetwork}} != Kovan</p>
        {{/if}}
        {{#if isMordenNetwork}}
          <p class="value">{{getNetwork}} != Kovan</p>
        {{/if}}
        {{#if isRopstenNetwork}}
          <p class="value">{{getNetwork}} != Kovan</p>
        {{/if}}
        {{#if isKovanNetwork}}
          <p class="value">Connected</p>
          {{/if}}
        {{/if}}
    </li>

    {{#if isMiningNetworkStatus}}
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    {{else}}

    <li>
      <p class="status">Current Block:</p>
      {{#if isSynced}}
      <p class="value">{{latestBlock}}</p>
      {{else}}
      <p class="value">Syncing</p>
      {{/if}}
    </li>
    <li>
      <p class="status">Transaction:</p>
      <p class="value">none</p>
    </li>
    {{/if}}
  </ul>
</template>
