<template name="summary_executive">
  <span>Executive Summary</span>
  <ul>
    <li>
      <p class="status">Wallet Balance</p>
      {{#if getAccountCount}}
        {{#if clientManagerAccount}}
          <p class="value">
            <a href="/wallet/{{clientManagerAccount}}" class="truncate green-text text-lighten-2">
              {{dapp_formatBalance clientManagerAccountBalance "0,0.0[00] UNIT" 'eur'}}
            </a>
          </p>
        {{else}}
        <p class="value">No account selected</p>
        {{/if}}
        {{else}}
        <p class="value">No account available</p>
        {{/if}}
    </li>
    <li>
      <p class="status">Portfolio</p>
      {{#if hasManagerCreatedCore}}
        <p class="value">
          <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerNameOfCore}}</a>
        </p>
      {{else}}
      {{#if getAccountCount}}
        <p class="value">
          <a href="/" class="truncate blue-text text-lighten-2 new badge-hero">Create portfolio</a>
        </p>
      {{else}}
        <p class="value">
          N/A
        </p>
        {{/if}}
      {{/if}}
    </li>
    <li>
      <p class="status">Delta</p>
      {{#if hasManagerCreatedCore}}
      <p class="value">
        <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerDeltaOfCore}}</a>
      </p>
      {{else}}
      <p class="value">
        <a href="/" class="truncate blue-text text-lighten-2 badge-hero">Create portfolio</a>
      </p>
      {{/if}}
    </li>
  </ul>




  <!-- <div class="buysellads-header center-on-small-only"> -->
    <!-- Executive Summary -->
    <!-- <ul>
      <li class="truncate text-light">Executive Summary</li> -->
      <!-- Wallet Balance -->
      <!-- <li> Wallet Balance
        {{#if getAccountCount}}
          {{#if clientManagerAccount}}
            <a href="/wallet/{{clientManagerAccount}}" class="truncate green-text text-lighten-2">
              {{dapp_formatBalance clientManagerAccountBalance "0,0.0[00] UNIT" 'eur'}}
            </a>
          {{else}}
            <a class="truncate red-text text-lighten-2">No account selected</a>
          {{/if}}
        {{else}}
          <a class="truncate red-text text-lighten-2">No account available</a>
        {{/if}}
      </li> -->

      <!-- Portfolio Status -->
      <!-- <li> Portfolio
        {{#if hasManagerCreatedCore}}
          <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerNameOfCore}}</a>
        {{else}}
          {{#if getAccountCount}}
            <a href="/" class="truncate blue-text text-lighten-2 new badge">Create portfolio</a>

          {{else}}
            <a href="/" class="truncate red-text text-lighten-2">N/A</a>
          {{/if}}
        {{/if}}
      </li> -->

      <!-- Overall Performance -->
      <!-- <li> Delta
        {{#if hasManagerCreatedCore}}
            <a href="/portfolio/{{getManagerAddressOfCore}}" class="truncate green-text text-lighten-2">{{getManagerDeltaOfCore}}</a>
        {{else}}
          <a href="/" class="truncate blue-text text-lighten-2">Create portfolio</a>
        {{/if}}
      </li>
    </ul>
  </div> -->
</template>
