<template name="summary_melon">

  <span>Melon Summary</span>
  <ul>
    <li>
      <p class="status">Status:</p>
      {{#if isErrorNetworkStatus}}
          <p class="value">TX Error</p>
      {{/if}}

      {{#if isMiningNetworkStatus}}
          <p class="value">Sending</p>
      {{/if}}

      {{#if isMinedNetworkStatus}}
          <p class="value">Sent</p>
      {{/if}}

      {{#if isInactiveNetworkStatus}}
        {{#if isMainNetwork}}
          <p class="value">{{getNetwork}} != Ropsten</p>
        {{/if}}
        {{#if isMordenNetwork}}
          <p class="value">{{getNetwork}} != Ropsten</p>
        {{/if}}
        {{#if isRopstenNetwork}}
          <p class="value">Connected</p>
          {{/if}}
        {{/if}}
    </li>
    {{#if isMiningNetworkStatus}}
    {> ux_spinner}}
    {{else}}
    <li>
      <p class="status">Current Block:</p>
      {{#if isSynced}}
      <p class="value">{{latestBlock}}</p>
      {{else}}
      <p class="value">Syncing</p>
      {{/if}}
    </li>
    <li>
      <p class="status">Transaction:</p>
      <p class="value">none</p>
    </li>
    {{/if}}
  </ul>

  <!-- <div class="buysellads-header center-on-small-only">
    <ul>
      <li class="truncate text-light">Melon Summary</li> -->
      <!-- Status -->
      <!-- <li> Status
        {{#if isErrorNetworkStatus}}
          <a class="truncate red-text text-lighten-2">TX Error</a>
        {{/if}}

        {{#if isMiningNetworkStatus}}
          <a class="truncate blue-text text-lighten-2">Sending</a>
        {{/if}}

        {{#if isMinedNetworkStatus}}
          <a class="truncate green-text text-lighten-2">Sent</a>
        {{/if}}

        {{#if isInactiveNetworkStatus}}
          {{#if isMainNetwork}}
            <a class="truncate blue-text text-lighten-2">{{getNetwork}} != Ropsten</a>
          {{/if}}
          {{#if isMordenNetwork}}
            <a class="truncate blue-text text-lighten-2">{{getNetwork}} != Ropsten</a>
          {{/if}}
          {{#if isRopstenNetwork}}
            <a class="truncate green-text text-lighten-2">Connected</a>
          {{/if}}
        {{/if}}
      </li> -->
      <!-- Spinner -->
      <!-- {{#if isMiningNetworkStatus}}
        <br/>
        {{> ux_spinner}} -->
      <!-- Current Block and Transactions -->
      <!-- {{else}}
        <li> Current Block
          {{#if isSynced}}
            <a class="truncate green-text text-lighten-2">{{latestBlock}}</a>
          {{else}}
            <a class="truncate blue-text text-lighten-2">Syncing</a>
          {{/if}}
        </li> -->
        <!-- Transactions -->
        <!-- <li> Transactions
          <a class="truncate green-text text-lighten-2">None</a>
        </li>
      {{/if}}
    </ul>
  </div> -->

</template>
